apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: keycloak
resources:
  - ../../base
  - namespace.yaml
  - postgres/cluster.yaml
patches:
  - target:
      kind: StatefulSet
      name: keycloak
    patch: |-
      apiVersion: apps/v1
      kind: StatefulSet
      metadata:
        name: keycloak
      spec:
        template:
          spec:
            containers:
              - name: keycloak
                env:
                  - name: 'KC_HOSTNAME'
                    value: 'https://auth.kirkoc.net'
                  - name: 'KC_HOSTNAME_ADMIN'
                    value: 'https://auth.k8s.kirkoc.net'